#main_container {
	position: absolute; 
	left: 200px; 
	top: 100px; 
	width: 400px; 
	height: 400px;
}

#controls{
	margin: 10px;
	padding: 10px;
	display: inline-block; /* added this */
    width: 100px;
    height: auto;
}

#controls h3{
	font-style: italic;
	text-align: center;
}

#controls button{
	margin-top: 10px;
}

#title{
	margin-left: 10px;
}

table, td, tr{
	border: 1px solid rgb(150,150,150);
}

#board{
	height: 400px;
	width: 400px;
}
.board-row{
	width: 400px;
}

.cell{
	padding:0px;	
}

.cell-empty{
	background-color: white;
}

.cell-alive{
	background-color: black;
}